.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    margin: auto;
    
}

.container-fluid {
    background-color: #474e5d;
    color: #ffffff;
    
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-fluid img {
    height: 20rem;
    width: 30rem;
}

.bg-1 {
    background-color: #11aab8; 
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d;
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff;
    color: #555555;
}